.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	background: #FFFFFF;
	border: 1px solid #000000;
	border-radius: 5px;
}

.img {
	width: 100%;
	height: 244px;
	object-fit: cover;
}

.buy-button {
	border-radius: 5px;
	border: none;
	background: black;
	width: 256px;
	height: 56px;
	color: white;
	font-weight: 400;
	font-size: 24px;
}

.actions {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 24px;
	margin: 24px;
}

.priceWrap {
	display: flex;
	gap: 12px;
	align-items: center;
}

.price {
	font-weight: 600;
	font-size: 32px;
	line-height: 39px;
}

.price.priceOff {
	color: #929292;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	text-decoration: line-through;
}

.sale {
	color: #FF0000;
	font-style: normal;
	font-weight: 600;
	font-size: 32px;
	line-height: 39px;
}

.visually-hidden {
	position: absolute;
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}